language: php

services:
  - mysql

env:
  global:
    - SYMFONY_PHPUNIT_DIR="$HOME/.phpunit"
    - SYMFONY_DEPRECATIONS_HELPER=weak

matrix:
  include:
    - php: 5.6
    - php: 7.0
    - php: 7.1

install:
  - composer install

before_script:
  - mysql -e 'CREATE DATABASE experience_api_plugin DEFAULT CHARACTER SET latin1 COLLATE latin1_german1_ci'
  - mysql experience_api_plugin < db/install.sql

script:
  - vendor/bin/simple-phpunit
